.single-event {
	.content-block {
		.content-header {

			.heading-primary {
				margin-bottom: 10px;
			}

			.article-date {
				margin-left: 0;
			}
		}
	}
}

/*Content Block*/
.content-block {
	padding-bottom: 40px;
	padding-top: 40px;
	position: relative;

	.back-link {
		display: block;
		font-size: $font-size-xs;
		letter-spacing: 2px;
		line-height: 16px;
		margin-bottom: 10px;
		position: relative;
		text-transform: uppercase;
		@include sans-regular;

		@media (min-width: $screen-md-min) {
			max-width: 100px;
		}

		&:before {
			background: url('/assets/img/icon-arrow-left-red.svg') 0 50% no-repeat;
			content: '';
			display: inline-block;
			height: 10px;
			margin: 0 10px 0 0;
			width: 10px;

			@media (min-width: $screen-md-min) {
				left: -20px;
				position: absolute;
				top: 3px;
			}
		}

		@media (min-width: $screen-md-min) {
			left: 30px;
			margin: 0;
			position: absolute;
			top: 45px;
		}
	}

	/*Content Header*/
	.content-header {
		margin-bottom: 30px;

		.heading-primary {
			margin-bottom: 50px;
		}
		.article-category {
			border-bottom: solid 1px $color-gray-xlight;
			border-left: solid 1px $color-gray-xlight;
			border-right: solid 1px $color-gray-xlight;
			display: inline-block;
			line-height: 20px;
			padding: 5px 30px;
		}
		.article-date {
			color: $color-gray-med;
			font-size: $font-size-xs;
			letter-spacing: 2px;
			margin-left: 20px;
			text-transform: uppercase;
			@include sans-regular;
		}
	}

	/*Main Content*/
	.main-content {
		h2 {
			font-size: ($font-size-md + 1);
			letter-spacing: .25px;
			margin-bottom: 30px;
			text-transform: uppercase;
			@include sans-light;

			&.hlt-title { //nu_edit
				color: $color-red-med; //nu_edit
				@include sans-regular; //nu_edit
				font-weight: 700; //nu_edit
				margin-top: 30px; //nu_edit
			} //nu_edit

			@media (min-width: 768px) { //nu_edit
				&.hlt-title { //nu_edit
				font-size: 3.75em; //nu_edit
				line-height: 1em; //nu_edit
			} //nu_edit
			} //nu_edit
		}
		h3 {
			font-size: ($font-size-sm + 7);
			letter-spacing: .25px;
			margin-bottom: 15px;
			@include sans-regular;
			color: $color-blue-light; //nu_edit
			text-transform: uppercase; //nu_edit
		}
		h4 { //nu_edit
			margin-bottom: 5px; //nu_edit
			color: $color-blue-med; //nu_edit
			font-weight: bold;  //nu_edit
		} //nu_edit
		h5 { //nu_edit
			margin-bottom: 10px; //nu_edit
			color: $color-blue-med; //nu_edit
		} //nu_edit
		blockquote {
			border: 0;
			// color: $color-blue-light; nu_edit
			color: $color-blue-med; //nu_edit
			// font-size: ($font-size-md - 4); nu_edit
			font-size: ($font-size-lg); //nu_edit
			line-height: 38px;
			margin: 0 0 30px 0;
			text-align: center;
			@include serif-italic;
			font-weight: 700;
			background-image: url(/assets/img/dash_pattern_y.png);
			background-size: cover;
		}
		ul,ol {
			margin-bottom: 20px;
		}
		li {
			list-style-image: url('/assets/img/plus.svg');
		}
		img {
			height: auto;
			margin-bottom: 30px;
			width: 100%;

			&.alignright {
				float: right;
				width: auto;
			}
			&.alignleft {
				float: left;
				width: auto;
			}
			&.aligncenter {
				text-align:center;
				width: auto;
			}
		}
	}

	/*Team Block*/
	.team-row {
		padding-top: 50px;

		.team-item {
			@media (max-width: $screen-xs-max) {
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			a {
				outline: none;
			}

			.img-circle {
				height: auto;
				margin: 0 auto 50px auto;
				max-width: 100%;
			}
			.item-title {
				color: $color-red-med;
				font-size: ($font-size-sm + 5);
				letter-spacing: .2px;
				margin-bottom: 10px;
				@include sans-regular;
			}
			.sub-title {
				color: $color-gray-dark;
				display: block;
				font-size: $font-size-xs;
				letter-spacing: 2px;
				line-height: 20px;
				text-transform: uppercase;
				@include sans-regular;
			}
		}
	}

	/*Headshots for Board and Veronica on Become a Member*/
	img.headshot { //nu_edit
		width: 180px; //nu_edit
		height: auto; //nu_edit
		float: left; //nu_edit
		border-radius: 50%; //nu_edit
		padding: 20px; //nu_edit
	} //nu_edit

	/* Tile List */
	ol.tile-list {
		display: flex;
		flex-wrap: wrap;
		@include sans-regular;
		font-size: small;
		line-height: 1.25;
		padding: 0px;
		li {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			width: 225px;
			height: 225px;
			list-style: none;
			margin: 5px;
			padding: 15px;
			background: $color-blue-light;
			border: 1px solid $color-black;
			color: $color-white;
			p:first-of-type {
				font-weight: bold;
				margin-bottom: -3em;
			}
		}
	}

	@media (max-width: $screen-lg-min) {
		ol.tile-list {
			li {
				width: 250px;
				height: 250px;
				p:last-of-type {
					margin-top: -5em;
				}
			}
		}
	}

	@media (max-width: $screen-xs-min) {
		ol.tile-list {
			li {
				width: 500px;
				height: 275px;
			}
		}
	}

}

/*Team Block nu_edit*/
.download-memb-broch {
	height: 200px;
	margin: 50px 0;
	overflow: hidden;
	h3 {
		margin-bottom: -30px !important;
	}
	div {
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	div:first-of-type {
		background-image: url(/assets/img/articles_thumb.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 200px;
	}
	a {
		padding: 15px;
		font-size: small;
	}
}

	// @media (max-width: $screen-md-min) {
	// 	.download-memb-broch {
	// 	height: 500px;
	// 	border: 1px dashed pink;
	// }
	// }
