/*Info Grid*/
.info-grid {
	&.shim {
		padding-bottom: 60px;
		padding-top: 60px;
	}

	// nu_edit
.info-grid .container {
    width: 100%;
    position: relative;
    border: 1px solid red;
    margin-top: 2em;
    }

    .info-grid h2 {
    font-size: 2rem;
    display: block;
    border: 1px solid green;
    padding-left: 50vw;
    text-transform: uppercase;
    text-decoration: none;
    width: 25vw;
    }

    .info-grid p {
    padding-left: 50vw;
    }

    .info-grid .row {
    padding-left: 50vw;
    background: silver;
    position: relative;
    top: 80px;
    }

// nu_edit

	@media (max-width: $screen-xs-max) {
		.container {
			padding: 0;
		}
	}

	/*Grid Image*/
	.grid-img {
		position: relative;
		// nu_edit
    min-height: 30vh;
    // background: orange;
		background-image: url('/assets/img/icon_arrow_uptrend.png');
		background-position: calc( 50% - 10em ) 35%;
		background-repeat: no-repeat;
		background-size: 300px;
    // nu_edit

		&.has-overlay {
			&:after {
				background-image: url('/assets/img/info-grid-overlay-sm.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				content: '';
				display: block;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 9;

				@media (min-width: $screen-sm-min) {
					background-image: url('/assets/img/info-grid-overlay.png');
				}
			}
		}
		img {
			height: auto;
			width: 100%;
		}
		.grid-overlay {
			// left: 0; nu_edit
			left: 50%;
			// padding: 15px; nu_edit
			padding: 0px 15px 15px 0px;
			position: absolute;
			top: 50%;
			z-index: 99;
			@include translate(0, -50%);

			@media (min-width: $screen-ms-min) {
				// padding: 30px 30px 30px 50px; nu_edit
				padding: 0px 30px 30px 0px;
				width: 70%;
			}
			@media (min-width: $screen-md-min) {
				width: 50%;
			}

			.heading-primary {
				// color: $color-blue-light; nu_edit
				color: $color-red-med;

				@media (min-width: $screen-md-min) {
					margin-bottom: 30px;
				}
			}
			p {
				// color: $color-white; nu_edit
				color: $color-black;
				font-size: ($font-size-base - 2);
				line-height: 22px;

				@media (min-width: $screen-md-min) {
					font-size: $font-size-base;
					line-height: 27px;
				}
			}
		}
	}

	/*Grid Row*/
	.colored-grid {
		// background: $color-blue-dark; nu_edit
		position: relative;
		width: 50%; // nu_edit
		left: 50%; // nu_edit


	@media (max-width: $screen-sm-max) {
		width: 100%;
		left: 0%;
	}

		&.grid-sm {
			.grid-item {
				height: 200px;
			}
			.grid-title {
				font-size: $font-size-sm;
				line-height: 18px;
			}
			.btn {
				height: auto;
				line-height: 22px;

				&:after {
					height: 20px;
				}
			}
		}
		.title-block {
			@media (min-width: $screen-md-min) {
				height: 200px;
			}
		}
		.grid-item {
			height: 200px;
			position: relative;
			text-align: center;
			//background: gray;  nu_edit
			display: flex; // nu_edit
			align-items: center; // nu_edit
			justify-content: center; // nu_edit
			// height: 12.5vw;


			@media (min-width: $screen-md-min) {
				// height: 300px; nu_edit
				// height: 12.5vw;
			}

			// &.grid-1 {
			// 	background: $color-red-med;
			// }
			// &.grid-2 {
			// 	background: rgba($color-red-med, .8);
			// }
			// &.grid-3 {
			// 	background: rgba($color-red-med, .7);
			// }
			// &.grid-4 {
			// 	background: rgba($color-red-med, .6);
			// }
		}
		.grid-wrap {
			padding: 20px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			background: $color-yellow; // nu_edit
			border-radius: 50%; // nu_edit
			width: 125px; // nu_edit
			height: 125px; // nu_edit
			display: flex; // nu_edit
			align-items: center; // nu_edit

			img {
				max-width: 100%;
			}

			@media (max-width: $screen-md-max) and (min-width: $screen-sm-max) {
				width: 115px;
				height: 115px;
			}
		}
		.grid-title {
			// color: $color-white; nu_edit
			color: $color-black;
			display: block;
			line-height: 20px;
			// margin-top: 20px; nu_edit
			margin: 10px 0;
			@include sans-bold;
			text-transform: uppercase; // nu_edit
			font-size: 12px; // nu_edit
			// @media (max-width: $screen-md-max) {
			// 	font-size: 10px;
			// }
		}
	}
	.grid-content {
		padding: 15px;
		text-align: left;

		@media (min-width: $screen-lg-min) {
			padding: 30px 25px;
		}
	}
	.heading-secondary {
		color: $color-white;
	}
	p {
		color: $color-white;
		line-height: 22px;
	}
	.btn {
        // nu edit;
    background: red;
    height: 50px;
    width: calc( 50% );
    text-decoration: none;
    color: white;
    text-align: left;
    padding: 15px calc( 10% );
        // nu edit end;

		clear: both;
		display: block;
		// nu edit   padding: 15px 30px;
		// nu edit text-align: left;
		z-index: 99;

		@media (min-width: $screen-md-min) {
			height: 80px;
			line-height: 50px;
			// width: 50%; nu_edit
			width: 100%;

			&:after {
				height: 100%;
				margin: 0;
			}

            &:before {
                content: " ";
                display: block;
                background: url('/assets/img/arrows_dotted_line.png') no-repeat left;
                background-size: cover;
                height: 80px;
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
            }
		}
		&.btn-top {
			@media (min-width: $screen-md-min) {
				position: absolute;
				right: 0;
				top: -80px;
			}
		}
		&.btn-bottom {
			width: 100%;

			@media (min-width: $screen-md-min) {
				bottom: 0;
				position: absolute;
				right: 0;
			}
		}
	}
}
