.home {
	.info-block {
		padding-bottom: 0;
	}
}

/*Info Block*/
.info-block {
	padding-bottom: 50px;

	background-size: contain; // nu_edit
	background-repeat: no-repeat; // nu_edit
	background-position: left; // nu_edit
    margin-top: 4.5em;
    margin-bottom: 2em;

    svg#cal-icon {
    position: absolute;
    right: 0;
    top: .5em;
    }

	&.stats-block { // nu_edit
		background-image: url('/assets/img/impact_icon_blue50.png'); // nu_edit

		svg { // nu_edit
			height: 60px; // nu_edit
			@media (max-width: $screen-md-max) { // nu_edit
		height: 45px; // nu_edit
			} // nu_edit
		} // nu_edit

		.info-content { // nu_edit
			display: flex; // nu_edit
			align-items: center; // nu_edit
		} // nu_edit

	}

	&.upcoming-events {
		height: 650px; // nu_edit

		@media (min-width: $screen-sm-min) { // nu_edit
			height: 600px; // nu_edit
		} // nu_edit

		h2 {
			padding: 0 40px;
			color: $color-red-med;
		}
		div.left-col {
				background: purple;
				height: 600px;
		}
		.info-content.info-overlay {
			padding: 20px;
			.cal-block {
				div:first-of-type {
					padding-right: 0;
				}
			}
			h3 {
				color: $color-red-med;
				font-weight: 500;
			}
			p{color: $color-black;}

		}
	}


	.container {
		width: 100%; // nu_edit

        @media (max-width: $screen-md) {
            width: 90vw;
            margin: 0 auto;
        }
	}

    .grid-desc {
        position: relative;
        padding: 1em;
        padding-top: 2.5em;
    }

    .heading-alternate {
        padding: 40px; // nu_edit
        height: 100%; // nu_edit
        display: flex; // nu_edit
        align-items: center; // nu_edit
    }

	@media (max-width: $screen-xs-max) {
		.container {
			padding-left: 0;
			padding-right: 0;
		}

	}

	.block-wrap {
		height: 100%;
		padding: 15px;

		@media (min-width: $screen-sm-min) {
		//	padding: 100px 40px 40px 40px;
            padding: 0 2em;
		}

		.heading-primary {
			margin: 10px 0;


			@media (max-width: $screen-sm-max) {
				br {
					display: none;
				}

			}
			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				font-size: ($font-size-md + 4);
				line-height: 36px;
			}
		}
		.heading-secondary {
			margin-bottom: 25px;
		}

		.btn-lg {
			margin-top: 30px;
			padding: 12px 50px;
            display: block;
						white-space: normal; //nu_edit

						@media (max-width: $screen-sm-min) {
							padding: 12px 25px;
						}
		}
	}
	img {
		height: auto;
		width: 100%;
        position: relative;
        z-index: -2;

	}
	.info-content {
		height: 100%;
		padding: 20px;
		position: relative;

		@media (min-width: $screen-md-min) {
			padding: 100px 40px 40px 40px;
		}

		@media (max-width: $screen-sm-min) {  // nu_edit
			padding: 0px; // nu_edit
		} // nu_edit

		&.info-overlay {
			@media (min-width: $screen-ms-min) {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;

				.heading-secondary {
					color: $color-white;
				}
			}

			p {
				font-size: ($font-size-xs + 1);
				margin-bottom: 15px;

				@media (min-width: $screen-ms-min) {
					color: $color-white;
				}
				@media (min-width: $screen-md-min) {
					font-size: $font-size-base;
					margin-bottom: 40px;
				}
			}
		}
		.heading-secondary {
			margin-bottom: 20px;
		}
		.btn-group {
			display: block;
			margin-top: 40px;

			@media (min-width: $screen-sm-min) {
				max-width: 60%;
			}
		}
	}

	/*Info Link*/
	.info-link {
		clear: both;
		color: $color-blue-light;
		display: block;
		font-size: $font-size-sm;
		letter-spacing: 2px;
		margin-bottom: 15px;
		text-transform: uppercase;
		@include sans-bold;

		&:hover {
			color: $color-red-med;
		}
		&:after {
			margin: 5px 0 0 15px;
		}
		&:last-child {
			margin-bottom: 0;
		}

		&.light-blue {
			color: $color-blue-light;
		}

		&.dark-blue {
			color: $color-blue-dark;
		}

        @media (max-width: $screen-xs) {
            font-size: 10px; // nu_edit
        }
	}

	/*Info Block - stacked image*/
	&.info-block-stacked {
		.block-wrap {
			padding: 0;

			.block-content {
				padding: 15px;

				@media (min-width: $screen-sm-min) {
					padding: 60px 40px 40px 40px;
				}
			}
			.info-link {
				margin-top: 40px;
			}
		}
	}

	/*Info Details*/
	.info-details {
		// margin-bottom: 40px;
		text-align: center;

		div { // nu_edit
			height: 300px !important; // nu_edit
		} // nu_edit

		[class*='col-'] {
			border-right: solid 1px $color-gray-xlight;
			padding-bottom: 30px;
			padding-top: 30px;

			&:last-child {
				border-right: none;
			}
		}
		.number {
			// color: $color-blue-light; nu_edit
			color: $color-blue-med;
			display: block;
			font-size: ($font-size-md - 4);
			line-height: 40px;
			// margin-bottom: 15px; nu_edit
			@include sans-bold;

			@media (min-width: $screen-sm-min) {
				font-size: $font-size-md;
				// margin-bottom: 30px; nu_edit
				margin-bottom: 10px;
				margin-top: 10px;
			}

			&.lg {
				font-size: ($font-size-md - 4);

				@media (min-width: $screen-sm-min) {
					font-size: ($font-size-lg - 6);
				}
			}
		}
		.description {
			// color: $color-gray-med; nu_edit
			color: $color-black;
			display: block;
			font-size: ($font-size-xs + 1);
			line-height: 18px;
			@include serif-regular;

			@media (min-width: $screen-sm-min) {
				font-size: $font-size-base;
				line-height: 22px;
			}
		}
	}
}
