/*Colors*/
$color-white: #FFF;
$color-black: #414141;

$color-gray-xlight: #F0F0F5;
$color-gray-light: #AAAAAA;
$color-gray-med: #9B9B9B;
$color-gray-dark: #797979;

$color-red-med: #EE2737;
$color-red-light: #FF585D;

$color-yellow: #FAE100;

$color-blue-xlight: #41B6E6;
$color-blue-light: #41B6E6;
$color-blue-med: #426DA9;
$color-blue-dark: #274165;

$color-text: #414141;
