/*Colors*/
$color-white: #FFF;
$color-black: #414141;

$color-gray-xlight: #F0F0F5;
$color-gray-light: #AAAAAA;
$color-gray-med: #9B9B9B;
$color-gray-dark: #797979;

$color-red-med: #E64B4D;

$color-blue-xlight: #F0F0F5;
$color-blue-light: #73AFE1;
$color-blue-med: #346EA2;
$color-blue-dark: #05283C;

$color-text: #414141;