/*Buttons*/
.btn {
	border: none;
	font-size: ($font-size-base - 1);
	letter-spacing: 3px;
	// line-height: 24px; nu_edit
	line-height: 16px;
	padding: 12px 10px;
	text-decoration: none;
	text-transform: uppercase;
	@include sans-bold;
	@include transition(.3s);
	white-space: normal; //nu_edit

	&:active {
		box-shadow: none;
	}
	&.btn-lg {
		padding: 5px 20px;
		@include sans-regular;
	}
	&.btn-red {
		// background: $color-red-med; nu_edit
		background: $color-red-light;
		color: $color-white;

		&:hover {
			background: $color-blue-med;
			color: $color-white;
		}
	}
	&.btn-blue {
		background: $color-blue-dark;
		color: $color-white;

		&:hover {
			background: $color-blue-med;
			color: $color-white;
		}
	}
	&.btn-blue-light {
		background: $color-blue-light;
		color: $color-white;

		&.member-sign {
			margin-bottom: 100px;
		}

		&:hover {
			background: $color-blue-med;
			color: $color-white;
		}
	}
}

/*Arrows*/
.arrow-right {
	position: relative;

	&:after {
		background: url('/assets/img/icon-arrow-right.svg') 0 50% no-repeat;
		content: '';
		display: block;
		height: 20px;
		margin: 0 0 0 15px;
		position: absolute;
		right: 25px;
		top: 50%;
		vertical-align: middle;
		width: 10px;
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	&.blue {
		&:after {
			background: url('/assets/img/icon-arrow-right-blue.svg') 0 50% no-repeat;
		}
	}
	&.red {
		&:after {
			background: url('/assets/img/icon-arrow-right-red.svg') 0 50% no-repeat;
		}
	}
}
