/*Footer - Primary*/
.site-footer {
	background-image: url('/assets/img/footer-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100px;
	padding-top: 60px;

	.heading-secondary {
		color: $color-white;
		display: block;
		margin-bottom: 35px;
	}
	.footer-title {
		color: $color-white;
		display: block;
		font-size: $font-size-base;
		margin-bottom: 10px;
		padding: 0;
		text-transform: uppercase;
		@include sans-regular;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			font-size: $font-size-sm;
			line-height: 26px;
			margin-bottom: 10px;

			a {
				color: $color-blue-light;
				padding: 15px 0;
			}
		}

		@media (max-width: $screen-xs-max) {
			&.column-xs {
				margin-top: 25px;
				-webkit-column-count: 2;
				-moz-column-count: 2;
				column-count: 2;
				-webkit-column-gap: 40px;
				column-gap: 40px;
				-moz-column-gap: 40px;
			}
		}
	}
	p {
		color: $color-blue-med;
		font-size: $font-size-sm;
		margin-bottom: 10px;
		@include serif-regular;

		&:last-child {
			margin: 0;
		}
		strong {
			color: $color-white;
			font-size: $font-size-sm;
			font-style: normal;
			@include serif-regular;
		}
	}
	.logo-footer {
		background-image: url('/assets/img/logo-footer.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
		height: 58px;
		margin-bottom: 30px;
		padding: 0;
		width: 116px;

		@media (max-width: $screen-xs-max) {
			float: left;
		}
	}
	.social-wrap {
		clear: both;
		@include clearfix;

		@media (max-width: $screen-xs-max) {
			border-top: solid 3px rgba($color-blue-med, .5);
			margin-top: 20px;
			padding-top: 25px;
		}
	}
	.social {
		margin-bottom: 10px;

		@media (max-width: $screen-xs-max) {
			float: right;
			margin-top: 15px;
			text-align: right;
			width: 50%;
		}

		li {
			font-size: ($font-size-sm + 3);

			@media (min-width: $screen-sm-min) {
				font-size: ($font-size-md - 5);
				margin-right: 15px;
			}

			&:last-child {
				margin: 0;
			}
		}
	}
	.copyright {
		margin-top: 20px;

		@media (min-width: $screen-sm-min) {
			margin-top: 40px;
		}

		&:before {
			border-top: solid 3px rgba($color-blue-med, .5);
			content: '';
			display: block;
			margin: 0 15px 20px 15px;

			@media (min-width: $screen-sm-min) {
				margin: 0 15px 50px 15px;
			}
		}

		p {
			color: $color-blue-xlight;
			font-size: $font-size-xs;
			line-height: 20px;

			@media (min-width: $screen-sm-min) {
				text-align: center;
			}
		}
	}

	#menu-footer-3 {
		a {
			color: #fff;
		}
	}
}